*.svg
*.png
*.ico
*.gitkeep
.gitignore
.prettierignore
.npmrc
package.json
package-lock.json
node_modules
junit 
coverage
dist
dist-server
tmp
out-tsc
test/mocks
test/reports/*.xml
src/web.config
.vscode
